@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

.img_wrap {
  width: 80px;
  height: 80px;
  cursor: pointer;
}

.active {
  border: 2px solid #f4811f;
}

li::marker {
  color: #f4811f;
}

.label input[type="checkbox"] {
  display: none;
}

.label span {
  transition: 0.2s;
}
.label input[type="checkbox"]:checked ~ span {
  background: #f4811f;
  border: 1px solid #f4811f;
}

#slider::-webkit-scrollbar {
  display: none;
}

.sticky {
  transition: all 0.3s ease;
}
