@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body {
  overflow-x: hidden;
}

.img_wrap {
  width: 80px;
  height: 80px;
  cursor: pointer;
}

.active {
  color: #f4811f;
}

li::marker {
  color: #f4811f;
}

.label input[type="checkbox"] {
  display: none;
}
.label input[type="radio"] {
  display: none;
}

.label span {
  transition: 0.2s;
}
.label input[type="checkbox"]:checked ~ span {
  background: #f4811f;
  border: 1px solid #f4811f;
}
.label input[type="radio"]:checked ~ div {
  background: rgb(229 231 235);
  border: 1px solid rgb(229 231 235);
}

#slider::-webkit-scrollbar {
  display: none;
}

.sticky {
  transition: all 0.3s ease;
}

.sidebar {
  animation: slideLeft 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
}

.sidebarOut {
  animation: slideRight 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
}

.essa {
  transition: all 2s linear;
}

@keyframes slideLeft {
  0% {
    transform: translateX(500px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes slideRight {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(500px);
  }
}

.tuptril {
  transition: all 1s linear;
}
